/* GLOBAL */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  height: 100vh;
  margin: 0;
}

.App h1 {
  text-align: center;
  padding: 25px;
  margin: 0;
  font-size: 40px;
  box-shadow: 0 0px 10px gray;
}

.App-sides {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas: 'LeftSide RightSide';
  max-height: calc(100vh - 95px);
  margin-top: 95px;
  overflow-y: scroll;
}


/* LEFT SIDE */
.LeftSide {
  grid-area: LeftSide;
  position: fixed;
  top: 115px;
  width: 50%;
}

.LeftSide-data {
  height: calc(100vh - 115px - 178px - 20px); /* vh - top of "Select A Chart" - height of "Select A Chart" */
  overflow-y: scroll;
  margin: 0 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 20px;

}

.SelectTemplateAndData label {
  display: block;
  text-align: center;
  font-size: 30px;
}

select {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 30px;
  font-size: 16px;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  padding: 10px 0 20px;
}

#buttonContainer button {
  width: 120px;
  height: 30px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#buttonContainer button:first-of-type {
  margin-right: 10px;
}

#buttonContainer button:enabled:hover {
  background-color: rgba(0, 0, 0, 0.247);
}


/* DISPLAYDATA */

.DisplayData, .DisplaySelected {
  cursor: pointer;
  transition: all 0.2s ease;
}

.DisplayData:hover, .DisplaySelected:hover {
  background-color: rgba(0, 0, 0, 0.247);
}

.DisplayData-selected:hover {
  background-color: rgb(87, 185, 218);
}

.DisplayData p, .DisplaySelected p {
  margin: 0;
  padding: 20px;
}

.DisplayData-selected {
  background-color: lightblue;
}


/* RIGHT SIDE */

.RightSide {
  grid-area: RightSide;
  padding: 20px;
}

.Canvas {
  position: relative;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 20px;
  transition: all 0.2s ease;
}

.Canvas:hover {
  box-shadow: 0 0 20px gray;
}

.Canvas:first-of-type {
  margin-top: 0;
}

.Canvas:last-of-type {
  margin-bottom: 0;
}