/* GLOBAL */
* {
  font-family: Arial, Helvetica, sans-serif;
}

*:focus {
  outline: none;
}

body {
  margin: 0 20px;
}

.App h1 {
  text-align: center;
  margin: 25px;
  font-size: 40px;
}

.App-sides {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'LeftSide RightSide';
  min-height: calc(100vh - 95px);
}


/* LEFT SIDE */
.LeftSide {
  grid-area: LeftSide;
}

.SelectTemplateAndData label {
  display: block;
  text-align: center;
  font-size: 30px;
}

select {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 30px;
  font-size: 16px;
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

#buttonContainer button {
  width: 120px;
  height: 30px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#buttonContainer button:first-of-type {
  margin-right: 10px;
}

#buttonContainer button:hover {
  
}



/* DISPLAYDATA */

.DisplayData {
  cursor: pointer;
}

.DisplayData p {
  margin: 0;
  padding: 20px;
}

.DisplayData-selected {
  background-color: lightblue;
}



/* RIGHT SIDE */
.RightSide {
  grid-area: RightSide;
}

canvas {
  max-width: 50vw;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 20px;
  transition: all 0.2s ease;
}

canvas:hover {
  box-shadow: 0 0 20px gray;
}

canvas:first-of-type {
  margin-top: 0;
}

canvas:last-of-type {
  margin-bottom: 0;
}